// Specific CSS for your home-page
body {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://digitalspyuk.cdnds.net/16/29/768x563/gallery-1468964850-maxresdefault-2.jpg),
  ;
}

.title{
  background-color: black;
  opacity: 0.6;
  border-radius: 25%;
}

h1 {
  color: yellow;
}

h3 {
  font-size: 30;
}
